<!DOCTYPE html>
<html ng-app='Stories.App'>
<head>
  <title>Stories</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- navbar -->
  <div class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Home</a>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <form class="navbar-form navbar-right">
          <% if current_user %>
            <span class="form-group">
              (<%= current_user.name %>)
            </span>
            <span class="form-group">
              <%= link_to "Sign out", signout_path, id: "sign_out", target: "_self", class: 'btn' %>
            </span>
          <% else %>
            <span class="form-group">
              <%= link_to "Sign in", "/auth/developer", id: "sign_in", target: "_self", class: 'btn' %>
            </span>
          <% end %>
        </form>
      </div>
     </div>
  </div> <!-- navbar -->

  <div id='main' ng-view=''>
    <%= yield %>
  </div>

</body>
</html>
